<p id="notice"><%= notice %></p>

<h1>Ability Char Trees</h1>

<table>
  <thead>
    <tr>
      <th>Char tree</th>
      <th>Ability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ability_char_trees.each do |ability_char_tree| %>
      <tr>
        <td><%= ability_char_tree.char_tree %></td>
        <td><%= ability_char_tree.ability %></td>
        <td><%= link_to 'Show', ability_char_tree %></td>
        <td><%= link_to 'Edit', edit_ability_char_tree_path(ability_char_tree) %></td>
        <td><%= link_to 'Destroy', ability_char_tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ability Char Tree', new_ability_char_tree_path %>
