<p id="notice"><%= notice %></p>

<p>
  <strong>Char tree:</strong>
  <%= @ability_char_tree.char_tree %>
</p>

<p>
  <strong>Ability:</strong>
  <%= @ability_char_tree.ability %>
</p>

<%= link_to 'Edit', edit_ability_char_tree_path(@ability_char_tree) %> |
<%= link_to 'Back', ability_char_trees_path %>
