<%= form_with(model: prompt_value, local: true) do |form| %>
  <% if prompt_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prompt_value.errors.count, "error") %> prohibited this prompt_value from being saved:</h2>

      <ul>
      <% prompt_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prompt_id %>
    <%= form.text_field :prompt_id %>
  </div>

  <div class="field">
    <%= form.label :active_ability_id %>
    <%= form.text_field :active_ability_id %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
