<div class="pledge_form">
  <table class="pledge_table">
    <tr>
      <% items.each do |item| %>
        <th><%= item.name %></th>
      <% end %>
    </tr>

    <%= semantic_form_for [game, char_round] do |f| %>
      <% f.inputs do %>
        <tr>
          <% pledges.each do |pledge| %>
            <%= f.semantic_fields_for pledge do |g| %>
              <%= render 'pledge_fields', :f => g %>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <%= f.actions do %>
            <td class="pledge_submit" colspan="4"><%= f.action :submit, :label => "Submit Pledge" %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
