<div class="login">
  <%= page_heading "Login" %>
  <section class="intro_blurb">
    <p>Welcome to the Throne War: The Fae Realms website! Please log in with your email and password. Forgotten password reset is not currently implemented.</p>
  </section>

  <% if flash[:alert] %>
    <h3 class="alert"> <%= flash[:alert] %> </h3>
  <% end %>
  <%= semantic_form_for :user do |f| %>
    <%= f.inputs do %>
      <%= f.input :email %>
      <%= f.input :password %>

      <%= f.actions do %>
        <%= f.action :submit, :label => "Log in", :as => :button %>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "Create Account", new_user_path %>
</div>
