<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prompt.name %>
</p>

<p>
  <strong>Ability function:</strong>
  <%= @prompt.ability_function %>
</p>

<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
<%= link_to 'Back', prompts_path %>
