<%= semantic_form_for @character_system do |f| %>
  <div class="error_explanation">
    <% if flash[:error] != nil %>
      <% flash_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% if flash_messages == ["Error message problem. Inform your Arbiter."] %>
        <%= flash[:error] %>
      <% end %>
      <% flash.clear %>
    <% end %>
  </div>

  <%= f.inputs do %>
    <h1 class="character_system_title"><%= f.input :title, label: "Title of Throne War" %></h1>
    <p class="character_system_description"><%= f.input :description %></p>
    <% if @edit %>
      <%= f.input :game, :label => false, :as => :number, :input_html => { :class => "hidden", :value => @character_system.game.id } %>
    <% else %>
      <%= f.input :game, :as => :select, :collection => Game.includes(:character_system).where(:character_systems => { :id => nil }) %>
    <% end %>
    <%= f.actions do %>
      <% if @edit %>
        <%= f.action :submit, :label => "Update Character System" %>
      <% else %>
        <%= f.action :submit, :label => "Create Character System" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
