<% if gm_user? %>
  <%= link_to 'Back to Games Index', games_path %>
<% end %>
<h1 class="title">
  <%= @character_system.title %>
</h1>
<p class="status">
  <%= @character_system.status %>
</p>
<p class="description">
  <%= @character_system.description %>
</p>
<%= render 'final_character_list', :final_characters => @final_characters %>

<%= link_to "Flaw Index", character_system_flaws_path(@character_system) %> |
<%= link_to "Abilities Index", abilities_path %>
