<%= semantic_form_for @rules_page do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :text, :input_html => { :class => 'tiny_mce', :rows => 20, :cols => 120 } %>
    <div id='subpages'>
      <%= f.semantic_fields_for :subpages do |subpage| %>
        <%= render 'subpage_fields', :f => subpage %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add subpage', f, :subpages %>
      </div>
    </div>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button, :label => "Save" %>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
  tinyMCE.init({
    plugins: 'link',
    selector: 'textarea',
    toolbar: 'undo redo | bold italic underline | fontsizeselect | link',
    menubar: false,
    statusbar: false
  });
</script>
