<p>
  <%= @rules_page.title %>
</p>

<p>
  <%= raw(@rules_page.text) %>
</p>
<div id='subpages'>
  <% @rules_page.subpages.each do |subpage| %>
    <%= render 'subpage_display', :f => subpage %>
  <% end %>
</div>

<%= link_to 'Edit', edit_rules_page_path(@rules_page) %>
<%= link_to 'Back', rules_pages_path %>
<%= link_to 'Delete', rules_page_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
