<%= semantic_form_for [@character_system, @final_character] do |f| %>
  <h1 class="title"><%= f.input :name %></h1>
  <% if gm_user? %>
    <h2 class="player"><%= f.input :user, :as => :select, :collection => @possible_users, :label => "Player: ", :value => @final_character.user, :include_blank => false %></h2>
  <% else %>
    <h2 class="player">Player: <%= @final_character.user.name %></h2>
    <%= f.input :user_id, :as => :hidden, :value => @final_character.user.id %>
  <% end %>
  <li>Leftover Points (as of last edit): <%= @final_character.leftover_points %></li>
  <li>Status: <%= @final_character.approval %></li>
  <%= f.input :luck %>
  <div id='ranks'>
    <table class="ranks_table">
      <% @ranks_collection = ranks_collection(@ranks, @character_system.ranks) %>
      <tr>
        <th>Item</th>
        <th>Public Rank</th>
        <th>Public Point Cost</th>
        <th>Final Rank and Point Cost</th>
      </tr>
      <%= f.semantic_fields_for :ranks, @ranks do |rank| %>
        <%= render 'rank_fields', :f => rank, :ranks_collection => @ranks_collection %>
      <% end %>
    </table>
  </div>
  <%= f.input :flaw1, :label => "Flaw 1", :as => :select, :collection => options_for_select(Flaw.where(character_system: @character_system).map{ |u| [u.name, u.id] }, @flaw1_id), :input_html => { :autocomplete => "off"}, :required => false %>
  <%= f.input :flaw2, :label => "Flaw 2", :as => :select, :collection => options_for_select(Flaw.where(character_system: @character_system).map{ |u| [u.name, u.id] }, @flaw2_id), :input_html => { :autocomplete => "off"}, :required => false %>
  <%= f.input :blurb, :input_html => { :class => "text_entry_small" } %>
  <%= f.input :background, :input_html => { :class => "text_entry" } %>
  <%= f.input :backstory_connections, :label => "Backstory Connections", :input_html => { :class => "text_entry" } %>
  <%= f.input :goal, :input_html => { :class => "text_entry" } %>
  <%= f.input :curses, :input_html => { :class => "text_entry" } %>
  <% if @need_wishes %>
    <%= f.input :extra_wishes %>
  <% else %>
    <%= f.input :extra_wishes, :as => :hidden, :value => 0 %>
  <% end %>
  <%= f.input :other, :input_html => { :class => "text_entry_small" } %>
  <%= f.actions do %>
    <%= f.action :submit, :label => "Save Character Changes" %>
    <%= f.action :cancel, :label => "Cancel Character Changes" %>
  <% end %>
<% end %>
