<div class='nested-fields'>
  <%= f.inputs do %>
    <tr>
      <td><%= f.object.item.gsub("_"," ").titleize %></td>
      <td><%= f.object.public_rank %></td>
      <td><%= f.object.public_points %></td>
      <% if f.object.public_rank > 1 %>
        <td><%= f.input :private_rank, :as => :select, :label => false, :collection => options_for_select(ranks_collection[f.object.item], f.object.private_rank), :include_blank => false %></td>
      <% else %>
        <% f.input :private_rank, :as => :hidden, :input_html => { :value => f.object.public_rank } %>
        <td>Rank: <%= f.object.public_rank %>, Points: <%= f.object.public_points %></td>
      <% end %>
    </tr>
  <% end %>
</div>
