<%= link_to "Edit Character", edit_character_system_final_character_path(@character_system,@final_character) %>
<%= link_to "Back to Character System Home", character_system_path(@character_system) %>
<p></p>
<%= render_flash %>

<%= page_heading @final_character.name %>
<h2 class="player">Player: <%= @final_character.user.name %></h2>
<% if @show_all %>
  <h3>Calculations based on current Ranks and choices</h3>
  <p>Leftover Points: <%= @final_character.leftover_points %></p>
  <p>Asset Points Spent (Maximum 32): <%= @final_character.asset_points %></p>
  <p>Status: <%= @final_character.approval.humanize.to_s.titlecase %></p>
  <p>Luck: <%= @final_character.luck %></p>
  <p>Total Number of Buy-ups: <%= @buy_up_total %></p>
  <p>Ego Talent: <%= @talent %></p>
  <p>Destiny Fate: <%= @fate %></p>
  <% if @illusion %>
    <p>Maximum Number of Wisps: <%= @wisps_count %></p>
  <% end %>
  <% if @gutter_magic %>
    <p>Wishes: <%= @wishes_count %></p>
  <% end %>
  <% if @talent_violation %>
    <p class="error">Too many buy-ups have been selected given the character's Talent number.</p>
  <% end %>
<% end %>
<div id='ranks'>
  <table class="ranks_table">
    <h3>Ranks</h3>
    <tr>
      <th>Item</th>
      <th>Public Rank</th>
      <th>Public Level</th>
      <th>Public Point Cost</th>
      <% if @show_all %>
        <th>Final Rank</th>
        <th>Final Level</th>
        <th>Final Point Cost</th>
      <% end %>
    </tr>
    <% @ranks.each do |rank| %>
      <%= render 'rank_display', :f => rank %>
    <% end %>
  </table>
</div>
<% if @final_character.approved? || gm_user? || @show_all %>
  <h3> Information that is public knowledge after character approval </h3>
  <p>Blurb: <%= html_safe_rescue(@final_character.blurb) %></p>
  <p>Standard Form:
  <% if @final_character.creature_forms.where(standard_form: true).first != nil %>
    <%= link_to "Standard Form", [@character_system, @final_character.creature_forms.where(standard_form: true).first] %>
  <% elsif gm_user? || @show_all %>
    <%= link_to "Create a Standard Form", new_character_system_creature_form_path(@character_system,final_character: @final_character) %>
  <% else %>
    This character does not yet have a Standard Form.
  <% end %>
  </p>
  <% if @flaw1 != nil %>
    <p class="flaw">Flaw 1: <%= link_to @flaw1.name.titleize, '/' + @flaw1.link %> <%= @flaw1.description %></p>
  <% end %>
  <% if @flaw2 != nil %>
    <p class="flaw">Flaw 2: <%= link_to @flaw2.name.titleize, '/' + @flaw2.link %> <%= @flaw2.description %></p>
  <% end %>
<% end %>
<% if @show_all %>
  <h3> Information that is private knowledge after character approval </h3>
  <p>Background: <%= html_safe_rescue(@final_character.background) %></p>
  <p>Backstory Connections: <%= html_safe_rescue(@final_character.backstory_connections) %></p>
  <p>Goal: <%= html_safe_rescue(@final_character.goal) %></p>
  <p>Curses: <%= html_safe_rescue(@final_character.curses) %></p>
  <% if @gutter_magic %>
    <p>Extra Wishes: <%= @final_character.extra_wishes %></p>
    <p>Wishes: <%= html_safe_rescue(@final_character.wishes) %></p>
  <% end %>
  <div id='forms'>
    <% @forms = @final_character.creature_forms %>
    <% if !@forms.empty? %>
      <h3>Creature Forms</h3>
      <table class="forms_table">
        <tr>
          <th>Name</th>
          <th>Environment</th>
        </tr>
        <% @forms.each do |form| %>
          <%= render 'form_display', :f => form %>
        <% end %>
      </table>
    <% end %>
    <% if @final_character.not_submitted? && (gm_user? || @user == @final_character.user) %>
      <p class="links"><%= link_to "New Creature Form", new_character_system_creature_form_path(@character_system,final_character: @final_character) %></p>
    <% end %>
  </div>
  <div id='tools'>
    <% @tools = @final_character.tools %>
    <% if !@tools.empty? %>
      <h3>Tools</h3>
      <table class="tools_table">
        <tr>
          <th>Name</th>
          <th>Points</th>
        </tr>
        <% @tools.each do |tool| %>
          <%= render 'tool_display', :f => tool %>
        <% end %>
      </table>
    <% end %>
    <% if @final_character.not_submitted? && (gm_user? || @user == @final_character.user) %>
      <p class="links"><%= link_to "New Tool", new_character_system_tool_path(@character_system,final_character: @final_character) %></p>
    <% end %>
  </div>
  <div id='regencies'>
    <% @regencies = @final_character.regencies %>
    <% if !@regencies.empty? %>
    <h3>Regencies</h3>
      <table class="regencies_table">
        <tr>
          <th>Name</th>
          <th>Points</th>
        </tr>
        <% @regencies.each do |regency| %>
          <%= render 'regency_display', :f => regency %>
        <% end %>
      </table>
    <% end %>
    <% if @final_character.not_submitted? && (gm_user? || @user == @final_character.user) %>
      <p class="links"><%= link_to "New Regency", new_character_system_regency_path(@character_system,final_character: @final_character) %></p>
    <% end %>
  </div>
  <div id='abilities'>
    <% @char_tree = @final_character.char_tree %>
    <% if @char_tree != nil %>
    <h3 class="links"><%= link_to "Ability Tree", character_system_char_tree_path(@character_system, @char_tree, final_character: @final_character) %></h3>
      <table class="ability">
        <tr>
          <th>Name</th>
          <th>Gift</th>
          <th>Type</th>
          <th>Summary</th>
        </tr>
        <% @abilities = @char_tree.abilities %>
        <% @abilities.each do |ability| %>
          <%= render 'ability_display', :f => ability %>
        <% end %>
      </table>
    <% else %>
      <% if @final_character.not_submitted? && (gm_user? || @user == @final_character.user) %>
        <p class="links"><%= link_to "New Ability Tree", new_character_system_char_tree_path(@character_system,final_character: @final_character) %></p>
      <% end %>
    <% end %>
  </div>
  <p>Other: <%= html_safe_rescue(@final_character.other) %></p>
<% end %>
<% if @final_character.not_submitted? && (gm_user? || @user == @final_character.user) %>
  <p class="links"><%= link_to "Submit Character for Approval", character_system_final_character_submit_path(@character_system,@final_character), :method => :post %></p>
<% end %>
