<%= page_heading "Welcome to Throne War: The Fae Realms" %>

<div class="homepage">
  <div class="rules_pages">
    <% if current_user == nil %>
      <p class="links"><%= link_to 'Create an Account', new_user_path %></p>
    <% else %>
      <%= render 'link_index_display' %>
      <% if admin_user? %>
        <p class="links"><%= link_to 'Edit Table of Contents', homepage_edit_path %></p>
      <% end %>
      <p class="links"><%= link_to 'Index of Rules Pages', rules_pages_path %></p>

    <%= form_tag(search_path, :method => "get",
        class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  <div class="character_systems">
    <% if current_user != nil %>
      <%= render 'active_final_characters_display' %>
      <%= render 'past_final_characters_display' %>
      <p class="links"><%= link_to 'Index of All Character Systems', character_systems_path %></p>
    <% end %>
  </div>
  <div class="auctions">
    <% if current_user != nil %>
      <%= render 'active_characters_display' %>
      <%= render 'active_games_display' %>
      <p class="links"><%= link_to 'Index of All Games', games_path %></p>
    <% end %>
  </div>
</div>
