<%= link_to 'Back to Games Index', games_path %>
<h1 class="title">
  <%= @game.title %>
</h1>
<p class="status">
  <%= @game.status %>
</p>
<% if @game.preparing? %>
  <% if @new_character %>
    <p class="links"><%= link_to 'Create a New Character', new_game_character_path(@game) %></p>
  <% end %>
  <% if gm_user? %>
    <p class="links"><%= link_to 'Start the Auction', start_game_path(@game) %></p>
  <% end %>
<% elsif @game.started? %>
  <% if @new_character != true %> <!-- i.e. user has a character for this game -->
    <p class="links"><%= link_to 'Go to the Auction', game_player_path(@game) %></p>
  <% end %>
  <% if gm_user? %>
    <p class="links"><%= link_to 'GM-side of Auction', gm_game_path(@game) %></p>
  <% end %>
<% else %>
  <%= render 'character_list', :aspect_characters => @aspect_characters, :gift_characters => @gift_characters %>
  <% if gm_user? && @no_character_system %>
    <p class="links"><%= link_to "Create Character System", new_character_system_path(:game_id => @game) %></p>
  <% end %>
  <% if !@no_character_system %>
    <p class="links"><%= link_to "Go to Character System", character_system_path(@character_system) %></p>
  <% end %>
<% end %>
<% if gm_user? || @game.complete? %>
  <p class="links"><%= link_to 'Index of Characters', game_characters_path(@game) %></p>
<% end %>
