<% if @editable %>
  <p class="links"><%= link_to "Edit Regency", edit_character_system_regency_path(@character_system,@regency) %></p>
  <p class="links"><%= link_to "Delete Regency", character_system_regency_path(@character_system,@regency), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
<p class="links"><%= link_to "Back to Character", character_system_final_character_path(@character_system,@final_character) %></p>

<%= page_heading @regency.name %>

<%if @regency.final_character.name == "" || @regency.final_character.name == nil %>
  <p>Belongs to: Anonymous </p>
<% else %>
  <p>Belongs to: <%= @regency.final_character.name %></p>
<% end %>
<p> User: <%= @regency.final_character.user.name %></p>
<p> Points: <%= @regency.points %></p>
<p> Description: <%= @regency.description %></p>
<h2>Abilities</h2>
<% @regency.abilities.each do |ability_num| %>
  <% if !ability_num.empty? %>
    <% @ability_collection.each do |ability_key| %>
      <% if ability_key[1] == ability_num.to_i %>
        <p><%= ability_key[0] %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if !@regency.keeper_abilities.empty? %>
  <h3>Keeper Abilities</h3>
  <% @regency.keeper_abilities.each do |ability_num| %>
    <% if !ability_num.empty? %>
      <% @keeper_collection.each do |ability_key| %>
        <% if ability_key[1] == ability_num.to_i %>
          <p><%= ability_key[0] %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
