<%= page_heading 'Index of Characters' %>

<%= link_to 'Back to Game', game_path(@game) %>
<% if @new_character %>
  <%= link_to 'New character', new_game_character_path(@game) %>
<% end %>
<% if gm_user? || @game.complete? %>
  <table>
    <tr>
      <th>Pseudonym</th>
      <th>Player</th>
    </tr>

    <% @characters.each do |character| %>
      <tr>
        <td><%= link_to character.pseudonym, game_character_path(@game, character) %></td>
        <td><%= character.user.name %></td>
        <% if gm_user? %>
          <td><%= link_to 'Delete', game_character_path(@game, character), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

<% end %>
