<%= semantic_form_for [@ability] do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :gift, :include_blank => false %>
    <%= f.input :level, :include_blank => false %>
    <%= f.input :automatic, :required => false %>
    <%= f.input :short_text, :input_html => {:class => "text_entry"} %>
    <%= f.input :long_text, :input_html => {:class => "text_entry"} %>
    <div id='ability_dependencies'>
      <% @dependency_links = @ability.dependency_links%>
      <%= f.semantic_fields_for :dependency_links, @dependency_links do |dependency_link| %>
        <%= render 'dependency_link_fields', :f => dependency_link %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add dependency', f, :dependency_links %>
      </div>
    </div>
    <%= f.actions %>
  <% end %>
<% end %>
