<p id="notice"><%= notice %></p>

<%= page_heading "Abilities"%>

<table class='ability'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gift</th>
      <th>Type</th>
      <th>Summary</th>
      <% if admin_user? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @abilities.each do |ability| %>
      <tr class='body'>
        <td class='ability_name'><%= link_to ability.name, ability %></td>
        <td class='gift' ><%= ability.gift.titlecase %></td>
        <td class='type'><%= ability.level.titlecase %> <% if ability.automatic %> Automatic <% end%></td>
        <td class='summary'><%= ability.short_text %></td>
        <% if admin_user? %>
          <td><%= link_to 'Edit', edit_ability_path(ability) %></td>
          <td><%= link_to 'Destroy', ability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin_user? %>
  <%= link_to 'New Ability', new_ability_path %> | <%= link_to 'In-Game Abilities', game_abilities_path %>
<% end %>
