<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ability.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @ability.gift %>
</p>

<p>
  <strong>Level:</strong>
  <%= @ability.level %>
</p>

<p>
  <strong>Long text:</strong>
  <%= @ability.automatic %>
</p>

<p>
  <strong>Short text:</strong>
  <%= @ability.short_text %>
</p>

<p>
  <strong>Long text:</strong>
  <%= @ability.long_text %>
</p>

<div id='dependencies'>
  <% @ability.dependency_links.each do |dependency_link| %>
    <%= render 'dependency_link_display', :f => dependency_link %>
  <% end %>
</div>



<%= link_to 'Edit', edit_ability_path(@ability) %> |
<%= link_to 'Back', abilities_path %>
