<script type="text/javascript">
  tinyMCE.init({
    plugins: 'link table',
    link_title: false,
    target_list: false,
    selector: 'textarea.tiny_mce',
    toolbar: 'bold italic underline | link | table',
    menubar: false,
    statusbar: false,
    });
</script>
<%= semantic_form_for(@rules_page, :html=>{:onsubmit=>"tinyMCE.triggerSave();"}) do |f| %>
  <% if @rules_page.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rules_page.errors.count, "error") %> prohibited
        this rules page from being saved:
      </h2>
      <ul>
        <% @rules_page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% @subpage_index = 0 %>
  <%= f.inputs do %>
    <%= f.input :slug, :as => :hidden, :value => @rules_page.slug %>
    <%= f.input :name, :label => "Page name for links"%>
    <h1 class="page_title"><%= f.input :title %></h1>
    <table class="page_intro">
      <tr>
        <td class="page_intro">
          <%= f.input :text, :input_html => { :class => 'tiny_mce', :rows => 10 } %>
        </td>
      </tr>
    </table>
    <div id='subpages'>
      <% @subpages = @rules_page.subpages.sort_by{|subpage| [subpage.order_number ? 0 : 1,subpage.order_number || 0]} %>
      <%= f.semantic_fields_for :subpages, @subpages do |subpage| %>
        <%= render 'subpage_fields', :f => subpage, :subpage_index => @subpage_index %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add subpage', f, :subpages %>
      </div>
    </div>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button, :label => "Save", :button_html => { :onclick => "tinyMCE.triggerSave();" } %>
    <% end %>
  <% end %>
<% end %>
<div class='comments'>
  <% if @rules_page.comments.exists? %>
    <table class="comment">
      <tr class="comment_header">
        <th class='user'>User</th>
        <th class="comment_body">Comment</th>
        <% if admin_user? %>
          <th class="comment_link"></th>
        <% end %>
      </tr>
      <% @rules_page.comments.each do |comment| %>
        <%= render 'comment_display', :f => comment %>
      <% end %>
    </table>
  <% end %>
</div>
