<h1> Index of Rules Pages </h1>
<%= link_to 'Back to Home', '/' %>
<% if logged_in? %>
  <% if admin_user? %>
    <%= link_to 'New rules page', new_rules_page_path %>
    <%= link_to 'Import rules page', import_path %>
  <% end %>
<% end %>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <% @rules_pages.each do |rules_page| %>
    <tr>
      <td class='body'><%= link_to rules_page.title, rules_page_path(rules_page) %></td>
      <% if logged_in? %>
        <% if admin_user? %>
          <td class='sidebar'><%= link_to 'Edit', edit_rules_page_path(rules_page) %></td>
          <td class='sidebar'><%= link_to 'Delete', rules_page_path(rules_page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
