<div class='nested-ability'>
    <tr>
      <% if f.name == "" || f.name == nil %>
        <td class='ability_name'><%= link_to "Ability", ability_path(f) %></td>
      <% else %>
        <td class='ability_name'><%= link_to f.name, ability_path(f) %></td>
      <% end %>
      <td class='gift'><%= f.gift.titlecase %></td>
      <td class='type'><%= f.level.titlecase %> <% if f.automatic %> Automatic <% end%></td>
      <td class='summary'><%= f.short_text %></td>
    </tr>
</div>
