<%= semantic_form_for [@character_system, @char_tree] do |f| %>
  <%= f.inputs do %>
    <%= f.input :final_character_id, :label => false, :as => :number, :input_html => { :class => "hidden", :value => @final_character.id } %>
    <div id='abilities'>
      <% @ability_char_trees = @char_tree.ability_char_trees%>
      <%= f.semantic_fields_for :ability_char_trees, @ability_char_trees do |ability_char_tree| %>
        <%= render 'ability_char_tree_fields', :f => ability_char_tree %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add ability', f, :ability_char_trees %>
      </div>
    </div>
    <%= f.actions %>
  <% end %>
<% end %>
