<p id="notice"><%= notice %></p>

<h1>Char Trees</h1>

<table>
  <thead>
    <tr>
      <th>Final character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @char_trees.each do |char_tree| %>
      <tr>
        <td><%= char_tree.final_character %></td>
        <td><%= link_to 'Show', char_tree %></td>
        <td><%= link_to 'Edit', edit_char_tree_path(char_tree) %></td>
        <td><%= link_to 'Destroy', char_tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Char Tree', new_char_tree_path %>
