<p id="notice"><%= notice %></p>

<%= page_heading "Ability Tree for " + @char_tree.final_character.name %>

<table class="ability">
  <tr>
    <th>Name</th>
    <th>Gift</th>
    <th>Type</th>
    <th>Summary</th>
  </tr>
  <% @abilities = @char_tree.abilities %>
  <% @abilities.each do |ability| %>
    <%= render 'ability_display', :f => ability %>
  <% end %>
</table>
<%= render 'ability_requirements_display' %>


<%= link_to 'Edit', edit_character_system_char_tree_path(@character_system, @char_tree) %> |
<%= link_to 'Back to Character', character_system_final_character_path(@character_system, @final_character) %>
