<table class="pledges_ranks_table">
  <tr>
    <% if @aspect_pledges_to_display != nil %>
      <% @aspect_items.each do |item| %>
        <th><%= item.name.gsub("_"," ").titleize + " Pledge" %></th>
        <th><%= item.name.gsub("_"," ").titleize + " Rank"%></th>
      <% end %>
    <% end %>
  </tr>
  <tr>
    <% if @aspect_pledges_to_display != nil %>
      <% @aspect_items.each do |item| %>
        <% pledge = @aspect_pledges_to_display.where(item: item, character: character).first %>
        <td><%= pledge.value %></td>
        <td><%= pledge.rank %></td>
      <% end %>
    <% end %>
  </tr>
</table>
<table class="pledges_ranks_table">
  <tr>
    <% if @gift_pledges_to_display != nil %>
      <% @gift_items.each do |item| %>
        <th><%= item.name.gsub("_"," ").titleize + " Pledge"  %></th>
        <th><%= item.name.gsub("_"," ").titleize + " Rank"  %></th>
      <% end %>
    <% end %>
  </tr>
  <tr>
    <% if @gift_pledges_to_display != nil %>
      <% @gift_items.each do |item| %>
        <% pledge = @gift_pledges_to_display.where(item: item, character: character).first %>
        <td><%= pledge.value %></td>
        <td><%= pledge.rank %></td>
      <% end %>
    <% end %>
  </tr>
</table>
