<%= form_with(model: ability_dependency, local: true) do |form| %>
  <% if ability_dependency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ability_dependency.errors.count, "error") %> prohibited this ability_dependency from being saved:</h2>

      <ul>
      <% ability_dependency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.text_field :parent_id %>
  </div>

  <div class="field">
    <%= form.label :depends_on_id %>
    <%= form.text_field :depends_on_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
