<p id="notice"><%= notice %></p>

<h1>Ability Dependencies</h1>

<table>
  <thead>
    <tr>
      <th>Parent</th>
      <th>Depends on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ability_dependencies.each do |ability_dependency| %>
      <tr>
        <td><%= ability_dependency.parent %></td>
        <td><%= ability_dependency.depends_on %></td>
        <td><%= link_to 'Show', ability_dependency %></td>
        <td><%= link_to 'Edit', edit_ability_dependency_path(ability_dependency) %></td>
        <td><%= link_to 'Destroy', ability_dependency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ability Dependency', new_ability_dependency_path %>
