<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
</head>
<body>
  <div class="header">
    <% if current_user != nil %>
      <p class="logout"><%= link_to 'Logout', logout_path %></p>
      <p class="users"><%= link_to 'Edit User Profile', edit_user_path(current_user) %></p>
    <% elsif current_page?(login_path) != true %>
      <p class="login"><%= link_to 'Login', login_path %></p>
    <% end %>
    <p class="links"><%= link_to 'Home', root_path %></p>
    <% if admin_user? %>
      <p class="links"><%= link_to 'User Index', users_path %></p>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
